@tailwind utilities;

@layer utilities {
    /* Custom utility class for responsive FontAwesome size */
    .responsive-fa-size {
      font-size: 1.25em; /* Equivalent to fa-lg */
  
      @screen lg {
        font-size: 0.75em; /* Equivalent to fa-xs */
      }
    }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes grow {
  0% {
    transform: scale(0.71);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes unblur {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0);
  }
}

@keyframes mist {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -100vw 0;
  }
}

.splash-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.hero-appears {
  height: 100%;
  animation: 0.3s fade-in, 0.3s grow ease-out, 0.5s unblur;
}

.hide-if-short {
  @media (max-height: 550px) and (max-width: 1023px) {
    display: none
  }
}

.project-section {
  position: relative;
}

.glass-low {
  @apply border border-neutral;
  background-color: #1a082633;
  backdrop-filter: blur(2px);
}

.glass-mid {
  @apply border border-neutral;
  background: #1a082666;
  backdrop-filter: blur(4px);
}

.glass-high {
  @apply border border-neutral;
  background: #1a0826bb;
  backdrop-filter: blur(4px);
}

.skills-cards {
  position: relative;
}

.layered-button-frame {
  position: relative;
  display: block;
}

.layered-button-a {
  z-index: 1;
  transition: all .2s;
  position: relative;
  display: block;
  margin-top: 30px;
  margin-bottom: 0px;
}

.layered-button-a:hover {
  text-decoration: none;
  transform: scale(1.1);
}

.layered-button {
  display: block;
  z-index: 0;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  text-align: center;
  @apply border border-neutral text-primary-content bg-base-content;
  border-radius: 999px;
  padding: 0.5rem 1rem;
  font-weight: 500;
  transition: all .2s;
  position: relative;
}

.layered-button:hover {
  text-decoration: none;
  @apply bg-neutral-content
}

.hero-curve-1 {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 400px;
  height: 200px;
  background: linear-gradient(0deg, theme('colors.accent'), theme('colors.primary'));
}

.hero-curve-2 {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  width: 96px;
  height: 96px;
  background-color: theme('colors.primary');
}

.site-bg-gradient {
  position: fixed;
  content: '';
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvw;
  background: linear-gradient(135deg, #1d082b, #13041d);
  z-index: -9999;
}

.bg-gradient-c {
  background-image: radial-gradient(var(--tw-gradient-stops))
}