@tailwind utilities;

@layer utilities {
    /* Custom utility class for responsive FontAwesome size */
    .responsive-fa-size {
      font-size: 1.25em; /* Equivalent to fa-lg */
  
      @screen lg {
        font-size: 0.75em; /* Equivalent to fa-xs */
      }
    }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes grow {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes unblur {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0);
  }
}

@keyframes mist {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -100vw 0;
  }
}

.hero-appears {
  max-height: inherit;
  animation: 0.5s fade-in, 0.5s grow ease-out, 0.5s unblur;
}

.hide-if-short {
  @media (max-height: 500px) {
    display: none
  }
}

.hero-dark {
  position: relative;
  max-height: calc(100dvh - 110px);
  
  .ethan-portrait {
    position: relative;
  }

  @media (max-width: 1023px) {
    .ethan-portrait::before {
      content: '';
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      height: 110%;
      width: 110%;
      background-image: url(https://rentafounder.com/resources/gradients-original.jpg);
      opacity: 0.6;
      filter: blur(10px);
      z-index: -100;
      transform: translate(-50%, -50%);
      max-width: 100dvw;
      max-height: 100dvh;
      border-radius: 9999px;
      background-size: cover;
    }
  }
}

.hero-dark::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  background-image: url(https://rentafounder.com/resources/gradients-original.jpg);
  opacity: 0.4;
  filter: blur(40px);
  z-index: -100;
  transform: translate(-50%, -50%);
  max-width: 100dvw;
  max-height: 100dvh;

  @media (max-width: 1023px) {
    display: none;
  }
}

.project-section {
  position: relative;
}

.project-section::before {
  content: '';
  position: absolute;
  height: 90%;
  width: 90%;
  left: 50%;
  top: 50%;
  background-image: url('https://img.freepik.com/premium-photo/colorful-background-with-pattern-colors-curves_68067-3307.jpg');
  background-size: 100% 100%;
  opacity: 0.4;
  filter: blur(40px);
  z-index: -100;
  max-width: 100dvw;
  transform: translate(-50%, -50%);

  @media (max-width: 767px) {
    filter: blur(20px);
  }
}

.glass-card {
  @apply bg-base-300/50 border border-neutral rounded-2xl;
}

.skills-cards {
  position: relative;
}

.skills-cards::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 80%;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1679189789333-cf24f75b0de7?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  opacity: 0.4;
  filter: blur(40px);
  transform: translate(-50%, -50%);
  z-index: -100;

  @media (max-width: 768px) {
    background-size: 100% 100%;
  }
}