aside {
    width: 250px;
    position: fixed;
    top: 56px;
    left: 0;
    background-color: #f8f9fa;
    height: 100%;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  }
  
.sidebar-logo {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar-logo img {
    max-width: 150px;
    height: auto;
}

.sidebar-item {
    margin: 0px 0px 0px 20px;
    font-size: 16px;
    color: #333;

    a {
        color: #333;
        text-decoration: none;

        .fa-fw {
            margin-right: 8px; /* Adjust spacing as needed */
        }

        .fa-linkedin {
            color: #0a66c2
        }

        .fa-github {
            color: #333
        }
        
        .fa-dove {
            color: #74ac00
        }

        .fa-earth-oceania {
            color: #3974c7
        }

        &:hover {
            color: #007bff; /* Change color on hover */
        }

        &:before {
            /* Use Brands font for social icons */
            margin-right: 10px; /* Space between icon and text */
        }
    }
}

.sidebar-image {
    border-radius: 50%;
}