@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
}
@plugin "daisyui/theme" {
  name: "rainy-redwood";
  default: false;
  prefersdark: false;
  color-scheme: "dark";

  --color-base-100: oklch(0.25 0.013 175);
  --color-base-200: oklch(21% 0.013 175);
  --color-base-300: oklch(17% 0.013 175);

  --color-base-content: oklch(96.5% 0.007 90);

  --color-primary: oklch(68% 0.14 140);
  --color-primary-content: oklch(14% 0.02 140);

  --color-secondary: oklch(74% 0.08 125);
  --color-secondary-content: oklch(16% 0.02 125);

  --color-accent: oklch(70% 0.14 45);
  --color-accent-content: oklch(16% 0.025 45);

  --color-neutral: oklch(0.3 0.013 175);
  --color-neutral-content: oklch(70% 0.007 90);

  --color-info: oklch(74% 0.11 225);
  --color-info-content: oklch(14% 0.02 225);

  --color-success: oklch(70% 0.14 150);
  --color-success-content: oklch(14% 0.02 150);

  --color-warning: oklch(84% 0.14 85);
  --color-warning-content: oklch(16% 0.025 85);

  --color-error: oklch(70% 0.17 25);
  --color-error-content: oklch(14% 0.02 25);

  --radius-selector: 1rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "custom";
  prefersdark: false;
  color-scheme: "dark";

  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --noise: 0;

  --color-primary: oklch(0.7405 0.1196 254.52);
  --color-primary-content: #0b1a2e;
  --color-secondary: oklch(0.499 0.1079 255.14);
  --color-secondary-content: #e6eef9;
  --color-accent: oklch(0.9102 0.1498 101.03);
  --color-accent-content: #2b2605;

  --color-neutral: oklch(0.29 0.03 276.31);
  --color-neutral-content: oklch(0.68 0.01 255.3);

  --color-base-100: oklch(0.2289 0.0197 268.35);
  --color-base-200: oklch(0.1939 0.0162 266.83);
  --color-base-300: oklch(0.1789 0.0156 264.71);
  --color-base-content: oklch(0.9775 0.0079 106.55);
}

@utility container {
  @apply xl:max-w-350;
}

@font-face {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("/fonts/Cabin-VariableFont_wdth,wght.woff2") format("woff2");
}

@font-face {
  font-family: "Cabin";
  font-style: italic;
  font-weight: 400 700;
  font-display: swap;
  src: url("/fonts/Cabin-Italic-VariableFont_wdth,wght.woff2") format("woff2");
}

html {
  font-size: 17px;
}

body {
  margin: 0;
  font-family: "Cabin", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
